# sequences

In [1]:
# sequences is an group of python objects/elements

# list

In [2]:
# A list ordered group of elements which utilizes mutable memory
# All the elements inside the list are separated by comma and enclosed in square brackets

a = []
print type(a)

<type 'list'>

In [3]:
a = [3, 5.8, 5, 'python', 'class']
print type(a)
print a

<type 'list'>
[3, 5.8, 5, 'python', 'class']

In [4]:
# indexing

In [5]:
# indexing always starts with zero
a = [3, 5, 8, 4, 13, 21, 22]
print a

[3, 5, 8, 4, 13, 21, 22]

In [6]:
print a[5]

21

In [7]:
print a[3]

4

In [8]:
print a

[3, 5, 8, 4, 13, 21, 22]

In [10]:
a[5] = 100
print a

[3, 5, 8, 4, 13, 100, 22]

In [11]:
a[3] = 14
print a

[3, 5, 8, 14, 13, 100, 22]

In [12]:
print a[-5]

8

In [13]:
print a[-2]

100

In [14]:
a[-1] = 200
print a

[3, 5, 8, 14, 13, 100, 200]

#for loop

In [15]:
#for <some_variable> in <sequence>:
#    st1
#    st2
#    |
#    |
#    stn

In [16]:
print a

[3, 5, 8, 14, 13, 100, 200]

In [17]:
for x in a:
    print "Hello World"
    print "x is", x

Hello World
x is 3
Hello World
x is 5
Hello World
x is 8
Hello World
x is 14
Hello World
x is 13
Hello World
x is 100
Hello World
x is 200

In [18]:
print a

[3, 5, 8, 14, 13, 100, 200]

In [19]:
for x in a:
    if x%2 == 1:
        continue
    print x

8
14
100
200

In [20]:
range(5)

[0, 1, 2, 3, 4]

In [21]:
range(1,10,3)

[1, 4, 7]

In [22]:
range(2, 18, 5)

[2, 7, 12, 17]

In [23]:
for x in range(2, 18, 5):
    print x

2
7
12
17

In [24]:
range(8,4,2)

[]

In [25]:
range(-5, -1)

[-5, -4, -3, -2]

In [26]:
range(-1, -10, -1)

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [27]:
for x in range(5):
    print x

0
1
2
3
4

In [28]:
for x in xrange(5):
    print x

0
1
2
3
4

In [29]:
print range(5)

[0, 1, 2, 3, 4]

In [30]:
print xrange(5)

xrange(5)

In [31]:
import sys
print sys.getsizeof(range(100))

864

In [32]:
import sys
print sys.getsizeof(xrange(100))

32